/* Reset some default styles */
body,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

header {
  background-color: #030617;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo-text span {
  color: #e63946;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #e63946;
  color: #fff;
  border-radius: 4px;
}
