/* Reset some default styles */
body,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

/* header styles */
header {
  background-color: #030617;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
  min-height: 5vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo-text span {
  color: #e63946;
}

.logo-text:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #e63946;
  color: #fff;
  border-radius: 4px;
}

/* main styles */
main {
  background-color: #171717;
  color: #fff;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  margin-bottom: 80px;
  background-color: #171717;
}

.home-content {
  max-width: 50%;
  margin-left: 50px;
}

.home-content p:nth-child(1) {
  font-family: "Lexend Deca", serif;
  font-style: normal;
  font-weight: 300;
  color: rgb(234, 179, 8);
  font-size: 16px;
  line-height: 24px;
}

.home-content h1 {
  font-family: "Lexend Deca", serif;
  font-style: normal;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-size: 63px;
  line-height: 76px;
}

.home-content p:nth-child(3) {
  font-family: "Lexend Deca", serif;
  font-style: normal;
  font-weight: 300;
  color: rgb(115, 115, 115);
  font-size: 20px;
  line-height: 30px;
}

.btn {
  font-family: "Lexend Deca", serif;
  font-style: normal;
  font-weight: 400;
  color: rgb(10, 10, 10);
  font-size: 16px;
  line-height: 24px;
  background-color: #c9a129;
  border: none;
  border-radius: 6px;
  padding: 8px 14px;
  margin-top: 20px;
}

.btn:hover {
  background-color: #edbe2d;
  cursor: pointer;
}

/* Profile Picture Styles */
.home-profile-picture {
  position: relative;
  max-width: 40%;
}

.square-shape {
  position: relative;
}

.square-shape img {
  width: 100%;
  height: auto;
}

.profile-picture {
  width: 300px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border: 4px solid #ffba08;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* about section start  */
.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 600px;
  padding: 60px;
  background-color: #0A0A0A;
}

.about-logo-text {
  font-style: normal;
  font-size: 32px;
  line-height: 38px;
  font-weight: bold;
}

.about-logo-text span {
  color: #e63946;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
}

.about-content {
  max-width: 50%;
  margin-left: 50px;
}

.about-content h1 {
  font-family: "Lexend Deca", serif;
  font-style: normal;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-size: 63px;
  line-height: 76px;
}

.about-content p:nth-child(2) {
  font-family: "Lexend Deca", serif;
  font-style: normal;
  font-weight: 300;
  color: rgb(115, 115, 115);
  font-size: 16px;
  line-height: 24px;
}
.about-content p:nth-child(3) {
  font-family: "Lexend Deca", serif;
  font-style: normal;
  font-weight: 300;
  color: rgb(115, 115, 115);
  font-size: 16px;
  line-height: 24px;
}


/* Profile Picture Styles */
.about-profile-picture {
  position: relative;
  max-width: 40%;
}

/* service section start  */
.service {

  height: 600px;
  padding: 60px;
  background-color: #171717;
}

.service-content {
  margin: 60px 50px;

}
.service-logo-text {
  font-style: normal;
  font-size: 32px;
  line-height: 38px;
  font-weight: bold;
}

.service-logo-text span {
  color: #e63946;
}

.service-content p {
  font-family: "Lexend Deca", serif;
  font-style: normal;
  font-weight: 300;
  color: rgb(115, 115, 115);
  font-size: 16px;
  line-height: 24px;
  width: 470px;
}

.service-skill-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.skill-container {
  width: 300px;
  height: 350px;
  border: none;
  border-radius: 6px;
  background-color: #262626;
}

.skill-container img {
  width: 40px;
  margin-top: 30px;
  margin-left: 110px;
  padding: 20px;


}

.skill-container h2 {
  font-family: "Lexend Deca", serif;
  font-style: normal;
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  margin-top: 6px;
}

.skill-container p {
  font-family: "Lexend Deca", serif;
  font-style: normal;
  font-weight: 300;
  color: rgb(115, 115, 115);
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

/* portfolio section start */
.portfolio {
  background-color: #0A0A0A;
  padding: 50px 20px;
}

.portfolio-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.portfolio-logo-text {
  font-style: normal;
  font-size: 36px;
  line-height: 42px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}

.portfolio-logo-text span {
  color: #e63946;
}

.portfolio-text {
  font-family: "Lexend Deca", serif;
  font-style: normal;
  font-weight: 300;
  color: #737373;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  max-width: 600px;
  margin: 0 20px;
}

.portfolio-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.portfolio-images img {
  max-width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.portfolio-images img:hover {
  transform: scale(1.05);
}

.row-image,
.column-image {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* resume section start  */
.resume {
  height: 600px;
  padding: 60px;
  background-color: #171717;
}

.resume-content {
  margin: 60px 50px;
}

.resume-logo-text {
  font-style: normal;
  font-size: 32px;
  line-height: 38px;
  font-weight: bold;
}

.resume-logo-text span {
  color: #e63946;
}

.resume-content p {
  font-family: "Lexend Deca", serif;
  font-style: normal;
  font-weight: 300;
  color: rgb(115, 115, 115);
  font-size: 16px;
  line-height: 24px;
  width: 470px;
}

.resume-skill-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.skill2-container {
  width: 300px;
  height: 350px;
  border: none;
  border-radius: 6px;
  background-color: #262626;
}

.skill2-container h2 {
  font-family: "Lexend Deca", serif;
  font-style: normal;
  font-weight: 500;
  color: #e63946;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  margin-top: 6px;
  text-align: left;
  margin: 30px 30px;
}

.skill2-container p:nth-child(1) {
  font-family: "Lexend Deca", serif;
  font-style: normal;
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-align: left;
  margin: 30px 30px;
}

.skill2-container p {
  font-family: "Lexend Deca", serif;
  font-style: normal;
  font-weight: 300;
  color: rgb(115, 115, 115);
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-align: left;
  margin: 30px 30px;
}
